@import 'import';

html{
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 2.4rem;
}
p,li{
  font-size: 1.4rem;
}
a{
  display: block;
}

#title{
  font-size: 4rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 212px;
  left: 28px;
  z-index: 2;
}
h2{
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 12px;
}
h3{
  font-size: 1.8rem;
  span{
    font-size: 2rem;
  }
}
h4{
  font-size: 1.6rem;
}

section{
  padding-top: 36px;
  margin-bottom: 60px;
  .inner{
    margin: 0 8%;
  }
}
.card{
  background-color: $white;
  box-shadow: $shadow;
  padding: 8px 12px;
}
.arrow{
  width: 0;
  height: 0;
  border-top: 32px solid $gray;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  margin: 24px auto 0;
}
.link_ani{
  position: relative;
  display: block;
  overflow: hidden;
  transition: 0.3s;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $gray;
    width: 100%;
    height: 100%;
    transform: translateX(-101%);
    z-index: -1;
    transition: 0.3s;
  }
  &:hover{
    color: $white;
    opacity: 0.9;
    &:before{
      transform: translateX(0);
    }
  }
}

// loading_animation
#loading {
    /* 画面いっぱいになる箇所 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: deepskyblue;
    transition: all 1s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    &.loaded {
        opacity: 0;
        visibility: hidden;
    }
    /* 中のローディングアニメ */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: deepskyblue;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
}

.wp-pagenavi{
  text-align: center;
  .pages{
    display: none;
  }
  span, a{
    display: inline-block;
    margin: 4px !important;
    padding: 10px 12px !important;
    color: $white;
    line-height: 1;
    font-size: 1.6rem;
    background: $blue;
    border: 1px solid $blue !important;
    &.current, &:hover{
      color: $blue;
      background: $white;
    }
  }
}

.header{
  display: flex;
  flex-flow: column;
  padding-top: 0;
  margin-bottom: 0;
  @include pc{
    flex-flow: row;
  }
  &__image{
    position: relative;
    width: 100%;
    height: 340px;
    background: url(../image/main-v.jpg) center center no-repeat;
    background-size: cover;
    @include pc{
      width: 70%;
      height: 400px;
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.2;
    }
  }
  &__link{
    position: absolute;
    bottom: 5%;
    right: 3%;
    width: 100px;
    height: 100px;
    z-index: 2;
    @include pc{
      width: 150px;
      height: 150px;
    }
    &__circle{
      width: 100%;
      height: 100%;
      display: inline-block;
      background-color: $orange;
      border-radius: 50%;
      transition: 0.3s;
      &:hover{
        transform: scale(1.1);
      }
      p{
        margin-top: 12px;
        text-align: center;
        font-size: 1.2rem;
        color: $white;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 24px;
        @include pc{
          font-size: 1.6rem;
          margin-top: 24px;
          line-height: 32px;
        }
      }
    }
  }
  &__nav{
    width: 100%;
    background-color: $light_gray;
    @include pc{
      width: 30%;
      height: 400px;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0 5%;
      line-height: 48px;
      @include pc{
        margin: 0;
        margin-top: 10%;
        margin-left: 20%;
        display: block;
      }
      li{
        font-size: 1.6rem ;
        padding: 4px 8px;
        @include pc{
          font-size: 1.8rem;
        }
      }
    }
  }
}
.announce{
  margin: 0 5% 24px;
  .dogtag{
    color: #707070;
    font-size: 1.2rem;
    margin-top: 8px;
    a{
      display: inline-flex;
    }
  }
}
