@import 'import';
#loading{
  display: none;
}
.search{
  .searchform{
    margin: 24px 0;
  }
  .searchsubmit{
    padding: 0 8px;
  }
  h3{
    margin-bottom: 24px;
  }
  .flame{
    margin-bottom: 24px;
    border: $gray 1px solid;
    padding: 8px;
    a{
      display: flex;
      justify-content: space-between;;
    }
  }
  .thumb{
    width: 10%;
    margin-right: 40px;
    img{
      width: 100%;
      height: auto;
    }
  }
  input{
    border: $gray solid 1px;
  }
}
